<p id="notice"><%= notice %></p>

<p>
  <strong>Speaker:</strong>
  <%= @randomLine.speaker %>
</p>

<p>
  <strong>Text:</strong>
  <%= @randomLine.text %>
</p>

<p>
  <strong>Episode Name:</strong>
  <%= @randomLine.episode.name %>
</p>
